set -o allexport

PATH=~/go/bin:$PATH
LITESTREAM_ACCESS_KEY_ID=<fill>
LITESTREAM_SECRET_ACCESS_KEY=<fill>
# Example for DigitslOcean
REPLICA_URL=<bucket>.<region>.digitaloceanspaces.com/data.db

set +o allexport


